nav ul{
    display: flex;
    margin: 20px;
}
nav li{
    padding: 5px;
    margin-right: 50px;
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background: #959494;
    border-radius: 5px;
}
footer{
    text-align: center;
    margin-top: 30px;
}